.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-div{
  /* border: black solid; */
  border-radius: 6px;
  box-shadow: 2px 2px 2px 2px grey;
  height: fit-content;
  width:35%;
  margin-left: 20rem;
  margin-top: 3rem;
  max-width: 50%;
}
.imaga-div{
  display: flex;
  
}
h4{
  color: rgba(0, 11, 167, 0.856);
  margin-left: 4px;
}
.fb-grid{

  width:100%;
  height: auto;
  margin:0px;
  padding: 0px;
  
  /* border: solid red; */
}

.reaction-div{
  /* border: solid green; */
  height: 5rem;
  display:flex;
  justify-content: space-evenly;
}

